<a href="https://colab.research.google.com/github/marinwitherspoon/English-monarchs/blob/main/Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

# url of scrape
url = 'https://en.wikipedia.org/wiki/List_of_English_monarchs'

# Get the HTML content using requests
html_content = requests.get(url).text

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

all_king_tables = soup.find_all('table',{'class':"wikitable"})

df_all = pd.DataFrame(columns=['Name', 'Birth', 'Death', 'Claim'])

for i in all_king_tables:
  df=pd.read_html(str(i))[0]

  if 'Claim' in df.columns:
    selected_columns = ['Name', 'Birth', 'Death', 'Claim']
  else:
    selected_columns = ['Name', 'Birth', 'Death']
    df['Claim'] = None

  # convert list to dataframe
  df=pd.DataFrame(df)[selected_columns]

  df_all = pd.concat([df_all, df], axis=0, ignore_index=True)

#  clean data  ##########################

# Delete rows with invalid data
df_all.drop([18, 25, 48], inplace=True)
#reset indexing
df_all.reset_index(drop=True, inplace=True)

# - clean up name column -------------------
#seperate the name form the rest of the string
df_all['Name'] = df_all['Name'].str.replace(r'\[.*?\]', '')

#cleaning name column to include only names
df_all[['Name', 'desc']] = df_all['Name'].str.split(r'\s\d|\[\d+\]', 1, expand=True)
df_all['Name'] = df_all['Name'].apply(lambda row: ' '.join(sorted(set(row.split()), key=row.index)))

#exstract dates from description
df_all['dates'] = df_all['desc'].str.extract(r'(\s*\d{3,4}\s*(?:–\s*\d{0,2}\s*\w*\s*\d{3,4})?)')
df_all['dates'][29] = '1307 – 1327'
df_all['dates'][3] = '927 – 939'
for i in df_all['dates']:
  bre = i.split(' - ')
  df_all['start'] = bre[0]
#remove days and months
df_all['dates'] = df_all['dates'].str.replace(r'\s+\d{0,2}\s+\w*\s+', ' ')

for index, row in df_all.iterrows():
  date_range = row['dates'].strip().split('–')

  df_all.at[index, 'start'] = int(date_range[0].strip())
  df_all.at[index, 'end'] = int(date_range[1].strip())

# - clean up Birth column -------------------
df_all['Birth'] = df_all['Birth'].str.extract(r'(\d{3,4})').astype(int)

# - clean up Death column -------------------
df_all['Death'] = df_all['Death'].str.extract(r'(\d{3,4})').astype(int)

# - clean up Claim column -------------------
df_all['Claim'] = df_all['Claim'].str.replace(r'/.*?of', 'of')
#exstract relationship
df_all['ClaimRelation'] = df_all['Claim'].str.extract(r'(\w*(?:-\w+)*(?:Son|Daughter))\s+',flags=re.IGNORECASE)
# exstract and clean up names
df_all['Claim'] = df_all['Claim'].str.extract(r'(?:Son|Daughter)\s+of\s+(\w+\s*(?:[IV]+|of\s+\w+|the\s+\w+)*)',flags=re.IGNORECASE)
df_all['Claim'] = df_all['Claim'].str.replace(r'(?<=[^ ])(?<![IV])([A-Z])(.*?)$','')

#manually correct data
df_all['Claim'][10] = 'NaN'
df_all['Claim'][45] = 'spouse'

#sort table by coorination date
df_all = df_all.sort_values(by='start').reset_index(drop=True)

In [2]:
!pip3 install ColabTurtlePlus

Collecting ColabTurtlePlus
  Downloading ColabTurtlePlus-2.0.1-py3-none-any.whl (31 kB)
Installing collected packages: ColabTurtlePlus
Successfully installed ColabTurtlePlus-2.0.1

In [3]:
import ColabTurtlePlus.Turtle as T

def sqline(length, depth, color):
  T.color(color)
  T.begin_fill()

  T.left(90)
  T.forward(depth/2)

  T.right(90)
  T.forward(length)

  T.right(90)
  T.forward(depth)

  T.right(90)
  T.forward(length)

  T.right(90)
  T.forward(depth/2)

  T.right(90)
  T.end_fill()
  T.forward(length)

Put clearscreen() as the first line in a cell (after the import command) to re-run turtle commands in the cell

In [ ]:
import ColabTurtlePlus.Turtle as T
date_range = max(df_all['Death'])-min(df_all['Birth'])+20

T.reset()
# set screen size, starting pen location and pen size
screen = T.Screen()
y = 600
screen.setup(date_range, y)
screen.setworldcoordinates(0, 0, date_range+100, y+10)
T.penup()
T.speed(15)

#### make time line
# T.goto(10, 10)
# T.left(90)
# T.pendown()

# for i in range(9,10 + round(date_range/100)):
#   T.pensize(2)
#   T.color('dark grey')
#   T.goto(i*100-int(df_all['start'][0]), 10)
#   T.write(i*100, font = ('Arial', 8, 'normal'))
#   T.pendown()
#   T.forward(y)
#   T.penup()
#   for j in range(1,4):
#     T.color('grey')
#     if j == 2:
#       T.pensize(1)
#     else:
#       T.pensize(.5)
#     T.goto(i*100+25*j-int(df_all['start'][0]), 10)
#     T.write(i*100+25*j, font = ('Arial', 8, 'normal'))
#     T.pendown()
#     T.forward(y)
#     T.penup()
# -----------------------------------
T.goto(10, y-10)
T.pensize(1)
T.right(90)

for i in range(len(df_all)):
  T.pendown()
  sqline(int(df_all['start'][i]) - int(df_all['Birth'][i]), 8, 'black')
  sqline(df_all['end'][i] - df_all['start'][i], 8, 'orange')
  if df_all['Death'][i] - df_all['end'][i] != 0:
    sqline(df_all['Death'][i] - df_all['end'][i], 8, 'black')
  T.penup()
  T.forward(10)
  T.color("black")
  T.write(df_all['Name'][i], font = ('Arial', 8, 'normal'))
  if i+1 < len(df_all):
    T.goto(int(df_all['start'][i+1]) - int(df_all['start'][0]), y-10*i)
  else:
    break

# add connection
# look at overlap???????
    #have it go to coordiante rather than offset
# change claim to generation count

In [8]:
df_all

,Name,Birth,Death,Claim,desc,dates,start,end,ClaimRelation
0,Alfred the Great (King of Wessex from,849,899,Æthelwulf of Wessex,71) c. 886 – 26 October 899 (13 years),886 – 899,886,899.0,Son
1,Edward the Elder,874,924,Alfred,"6 October 899 – 17 July 924 (24 years, 266 days)",899 – 924,899,924.0,Son
2,Ælfweard c.,901,924,Edward the Elder,7 July 924 – 2 August 924 (16 days),924 – 924,924,924.0,Son
3,Æthelstan the Glorious,894,939,Edward the Elder,24 King of the Anglo-Saxons (924–927) – King o...,927 – 939,927,939.0,Son
4,Edmund I the Magnificent,921,946,Edward the Elder,"7 October 939 – 26 May 946 (6 years, 212 days)",939 – 946,939,946.0,Son
5,Eadred,923,955,Edward the Elder,"6 May 946 – 23 November 955 (9 years, 182 days)",946 – 955,946,955.0,Son
6,Eadwig All-Fair,940,959,Edmund I,"3 November 955 – 1 October 959 (3 years, 313 d...",955 – 959,955,959.0,Son
7,Edgar the Peaceful,943,975,Edmund I,"October 959 – 8 July 975 (15 years, 281 days)",959 – 975,959,975.0,Son
8,Edward the Martyr,962,978,Edgar the Peaceful,"July 975 – 18 March 978 (2 years, 254 days)",975 – 978,975,978.0,Son
9,(1st reign) Æthelred the Unready,966,1016,Edgar the Peaceful,8 March 978 – 1013 (34–35 years),978 – 1013,978,1013.0,Son
10,Sweyn Forkbeard,963,1014,NaN,5 December 1013 – 3 February 1014 (41 days),1013 – 1014,1013,1014.0,great-grandson
11,(2nd reign) Æthelred the Unready,966,1016,Edgar the Peaceful,"February 1014 – 23 April 1016 (2 years, 81 days)",1014 – 1016,1014,1016.0,Son
12,Cnut the Great,995,1035,Sweyn,"8 October 1016 – 12 November 1035 (19 years, 2...",1016 – 1035,1016,1035.0,Son
13,Edmund Ironside,990,1016,Æthelred,3 April 1016 – 30 November 1016 (222 days),1016 – 1016,1016,1016.0,Son
14,Harold Harefoot,1016,1040,Cnut the Great,"2 November 1035 – 17 March 1040 (4 years, 127 ...",1035 – 1040,1035,1040.0,Son
15,Harthacnut,1018,1042,Cnut the Great,"7 March 1040 – 8 June 1042 (2 years, 84 days)",1040 – 1042,1040,1042.0,Son
16,Edward the Confessor,1003,1066,Æthelred,"June 1042 – 5 January 1066 (23 years, 212 days)",1042 – 1066,1042,1066.0,Son
17,Harold II Godwinson,1022,1066,NaN,January 1066 – 14 October 1066 (282 days),1066 – 1066,1066,1066.0,NaN
18,William I the Conqueror,1028,1087,NaN,"5 December 1066 – 9 September 1087 (20 years, ...",1066 – 1087,1066,1087.0,NaN
19,William II Rufus,1056,1100,William I,"6 September 1087 – 2 August 1100 (12 years, 31...",1087 – 1100,1087,1100.0,Son
20,Henry I Beauclerc,1068,1135,William I,"August 1100 – 1 December 1135 (35 years, 119 ...",1100 – 1135,1100,1135.0,Son
21,Stephen of Blois,1096,1154,William I,"2 December 1135 – 25 October 1154 (18 years, 3...",1135 – 1154,1135,1154.0,Grandson
22,Matilda Empress,1102,1167,Henry I,April 1141 – 1 November 1141 (209 days),1141 – 1141,1141,1141.0,Daughter
23,Henry II Curtmantle,1133,1189,Henry I,"9 December 1154 – 6 July 1189 (34 years, 200 d...",1154 – 1189,1154,1189.0,Grandson
24,Richard I the Lionheart,1157,1199,Henry II,"September 1189 – 6 April 1199 (9 years, 216 d...",1189 – 1199,1189,1199.0,Son
25,John Lackland,1166,1216,Henry II,"7 May 1199 – 19 October 1216 (17 years, 146 days)",1199 – 1216,1199,1216.0,Son
26,Henry III of Winchester,1207,1272,John,"8 October 1216 – 16 November 1272 (56 years, 2...",1216 – 1272,1216,1272.0,Son
27,Louis the Lion,1187,1226,NaN,"June 1216 – 20 September 1217 (1 year, 111 days)",1216 – 1217,1216,1217.0,NaN
28,Edward I Longshanks,1239,1307,Henry III,"0 November 1272 – 7 July 1307 (34 years, 230 d...",1272 – 1307,1272,1307.0,Son
29,Edward II of Caernarfon,1284,1327,Edward I,July 1307 – Abdicated 20 January 1327 (19 yea...,1307 – 1327,1307,1327.0,Son
30,Edward III of Windsor,1312,1377,Edward II,"5 January 1327 – 21 June 1377 (50 years, 148 d...",1327 – 1377,1327,1377.0,Son
31,Richard II of Bordeaux,1367,1400,Edward III,"2 June 1377 – 29 September 1399 (22 years, 100...",1377 – 1399,1377,1399.0,Grandson
32,Henry IV of Bolingbroke,1367,1413,Edward III,"0 September 1399 – 20 March 1413 (13 years, 17...",1399 – 1413,1399,1413.0,Grandson
33,Henry V of Monmouth,1386,1422,Henry IV,"1 March 1413 – 31 August 1422 (9 years, 164 days)",1413 – 1422,1413,1422.0,Son
34,(1st reign) Henry VI,1421,1471,Henry V,"September 1422 – 4 March 1461 (38 years, 185 ...",1422 – 1461,1422,1461.0,Son
35,(1st reign) Edward IV,1442,1483,Edward III,"March 1461 – 3 October 1470 (9 years, 214 days)",1461 – 1470,1461,1470.0,Great-great-grandson
36,(2nd reign) Henry VI,1421,1471,Henry V,October 1470 – 11 April 1471 (191 days),1470 – 1471,1470,1471.0,Son
37,(2nd reign) Edward IV,1442,1483,Edward III,"1 April 1471 – 9 April 1483 (11 years, 364 days)",1471 – 1483,1471,1483.0,Great-great-grandson
38,Richard III,1452,1485,Edward III,"6 June 1483 – 22 August 1485 (2 years, 58 days)",1483 – 1485,1483,1485.0,Great-great-grandson
39,Edward V,1470,1483,Edward IV,April 1483 – 25 June 1483 (78 days),1483 – 1483,1483,1483.0,Son
40,Henry VII,1457,1509,Edward III,"2 August 1485 – 21 April 1509 (23 years, 243 d...",1485 – 1509,1485,1509.0,Great-great-great-grandson
41,Henry VIII,1491,1547,Henry VII,"2 April 1509 – 28 January 1547 (37 years, 282 ...",1509 – 1547,1509,1547.0,Son
42,Edward VI,1537,1553,Henry VIII,"8 January 1547 – 6 July 1553 (6 years, 160 days)",1547 – 1553,1547,1553.0,Son
43,Jane Lady Grey,1536,1554,Henry VII,0 July 1553 – 19 July 1553 (9 days),1553 – 1553,1553,1553.0,Great-granddaughter
44,Mary I,1516,1558,Henry VIII,"9 July 1553 – 17 November 1558 (5 years, 122 d...",1553 – 1558,1553,1558.0,Daughter
45,(Jure uxoris) Philip the Prudent,1527,1598,spouse,"5 July 1554 – 17 November 1558 (4 years, 116 d...",1554 – 1558,1554,1558.0,NaN
46,Elizabeth I The Virgin Queen Good Bess,1533,1603,Henry VIII,"7 November 1558 – 24 March 1603 (44 years, 128...",1558 – 1603,1558,1603.0,Daughter
47,James I,1566,1625,Henry VII,"4 March 1603 – 27 March 1625 (22 years, 4 days)",1603 – 1625,1603,1625.0,Great-great-grandson
48,Charles I,1600,1649,James I,"7 March 1625 – 30 January 1649 (23 years, 310 ...",1625 – 1649,1625,1649.0,Son
49,Oliver Cromwell,1599,1658,NaN,"6 December 1653 – 3 September 1658 (4 years, 2...",1653 – 1658,1653,1658.0,NaN
50,Richard Cromwell,1626,1712,NaN,September 1658 – 7 May 1659 (247 days),1658 – 1659,1658,1659.0,NaN
51,Charles II,1630,1685,Charles I,"9 May 1660 – 6 February 1685 (24 years, 254 days)",1660 – 1685,1660,1685.0,Son
52,James II,1633,1701,Charles I,February 1685 – 23 December 1688 (Overthrown ...,1685 – 1688,1685,1688.0,Son
53,William III of Orange,1650,1702,Charles I,"3 February 1689 – 8 March 1702 (13 years, 24 d...",1689 – 1702,1689,1702.0,Grandson
54,Mary II,1662,1694,James II,"3 February 1689 – 28 December 1694 (5 years, 3...",1689 – 1694,1689,1694.0,Daughter
55,Anne,1665,1714,James II,"March 1702 – 1 May 1707 (5 years, 55 days) (Q...",1702 – 1707,1702,1707.0,Daughter